body {
    font-family: Arial;
    font-size: 120%;
    background-image: url(./Assets/internet-map.jpg);
    background-size: 100%;
  }

  a {
    color: #cfcfcf;
    text-decoration: none;
    transition: color 0.1s;
  }

  a:hover {
    color: #ffffff;
  }

  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #005eca8a;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }

  button:hover {
    background-color:rgba(255, 255, 255, 0.1);
    color: black;
  }

  .options button {
    display: block;
  }

  .answerchecker {
    font-style: italic;
    font-size: 150%;
    margin-top: 20px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
  }
  
  input[type="text"] {
    font-size: 100%;
  }

  p {
    font-weight: 500;
  }

  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }

  li {
    padding: 5px;
    list-style: decimal inside none;
  }

  li:nth-child(odd) {
    background-color: #F3EDFC;
  }

  .container {
    margin: 100px auto 0 auto;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1cm;
    border-radius: .5cm;
    color: rgba(0, 0, 0, 1);
    text-align: center;
  }

  .hide {
    display: none;
  }

  .start {
    text-align: center;
  }

  .scores {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 100%;
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
    color:#cfcfcf;
  }